.logo{
    text-indent: -9999999px;
    background: url('logo.png');
    width: 250 px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: left ;
}

body{
    background-color:darkgray;  
      color: whitesmoke;

}

h1{
  color: black;
  font: bold;
  text-align: center;
  width: auto;
  padding: 10px;
}

h2{
  color: black;
  font: bold;
  text-align: center;
  width: auto;
  padding: 10px;
}

h4{
  color: black;
  font: bold;
  text-align: end;
  padding: 10px;
}

a{
    background-color: rgb(33, 66, 94);
    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 1000;
    border-radius: 5px;
  }
  
  a:hover{
    background-color: rgb(0, 162, 255);
    color:black;
    padding: 10px;
  }

  table{
    background-color: rgb(2, 31, 43);
    color: cornsilk;
    padding: 10px;
    width: 500px;
  }

  /*Classes-- you can change a particular tag using the class-- all you need is just a dot notation*/

  .TopNav{ /* Top NAVIGATION-- (.) is start of class*/
    background-color:  rgb(33, 66, 94);
    width: auto;
    overflow: hidden;
  }
   
  .TopNav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /*Hide the link that should open and close the topnav on small screens*/
  .TopNav .icon{
    display: none;
  }
  
  /* Format the form fields
input type "text" means what kind of type you have given your form.. eg password or text*/

input[type=text] {
  width: 100%; /*how long do you want it to be* eg 100%.. full screen*/
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
  background-color: rgb(33, 66, 94);
  color: black;
}

input[type=text]:focus{
  border:5px solid rgb(0, 162, 255);
}

  
/* Format the buttons*/

input[type=submit]{
  background-color: rgb(33, 66, 94);
  color: linen;
  width:100 px;
  padding: 10px 22px;
  border:5px solid rgb(0, 162, 255);
} 

input[type=reset]{
  background-color:  rgb(33, 66, 94);
  color: linen;
  width: 100px;
  padding: 10px 22px;
  border:5px solid rgb(0, 162, 255);
} 

input[type=submit]:hover{
  background-color:whitesmoke;
  color:black;
  padding: 10px;
 
}

input[type=reset]:hover{
  background-color:whitesmoke;
  color:black;
  padding: 10px;
}

/*when the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width:600px){
  .TopNav a:not(:first-child) {display: none;}
  .TopNav a.icon{
    float: right;
    display: block;
  }
}

/* The "responsive " class is added to the topnav with JavaScript when the user clicks on the icon.
this class makes the topnav look good on small screens (display the links vertically instead of horizontally*/
@media screen and (max-width:600px){
  .TopNav.responsive{position: relative;}
  .TopNav.responsive a.icon{
    position: absolute;
    right:0;
    top:0;
  }
  .TopNav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}



